<launch>
    <include file = "$(find localization)/launch/localize_simulation.launch"/>
    <node pkg="lab6" type="pure_pursuit.py" name="Trajectory_follower">
		<param name="odom_topic" value="/pf/pose/odom"/>
	</node>
	<node pkg="lab6" type="path_planning.py" name="Trajectory_planner" output="screen">
		<param name="odom_topic" value="/pf/pose/odom"/>
	</node>
</launch>